<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ثبت بیمار</title>
</head>
<body>

<h2>ثبت بیمار</h2>

<form method="POST">

    <input type="text" name="full_name" placeholder="نام و نام خانوادگی" required><br><br>

    <input type="text" name="national_code" placeholder="کد ملی" required><br><br>

    <input type="text" name="phone" placeholder="شماره تماس"><br><br>

    <input type="number" name="age" placeholder="سن"><br><br>

    <input type="text" name="gender" placeholder="جنسیت"><br><br>
    <select name="insurance_id" required>
        {% for insurance in insurances %}
        <option value="{{insurance.id}}">
            {{ insurance.name}}
        </option>
        {% endfor %}
    </select>

     <select name="procedure_id" required>
        {% for procedure in procedures %}
        <option value="{{rocedure.id}}">
            {{ procedure.name}}
        </option>
        {% endfor %}
    </select>

    <textarea name="description" placeholder="توضیحات"></textarea><br><br>
    <input type="number" name="total_price"  value="0" placeholder =  "هزینه" ><br><br>
    <input type="number" name="paid_price" value="0"  placeholder = "مبلغ پرداختی"><br><br>
    <button type="submit">ثبت بیمار</button>

</form>

</body>
</html>
