<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ثبت بیمار</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/form.css')}}">
</head>

<body>

<div class="container">
<h2>ثبت بیمار</h2>
{% with message = get_flashed_messages(with_categories=true)%} 
    {% if message%}
        {% for category , message in messages%}
        <div class="alert{{category}}"> {{ message}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}



<form method="POST">
    <div  class="form-grid">
    <input type="text" name="full_name" placeholder="نام و نام خانوادگی" required>

    <input type="text" name="national_code" placeholder="کد ملی" required>

    <input type="text" name="phone" placeholder="شماره تماس">

    <input type="number" name="age" placeholder="سن">
    <div class="gender-group">
        <label>
            <input type="radio" name="gender" value="مذکر">
             مذکر
        </label>
        <label>
            <input type="radio" name="gender" value="مونث">
            مونث
        </label>
    </div>
    <select name="insurance_id" required>
        {% for insurance in insurances %}
        <option value="{{insurance.id}}">
            {{ insurance.name}}
        </option>
        {% endfor %}
    </select>

     <select name="procedure_id"  class="procedure" required>
        {% for procedure in procedures %}
        <option value="{{procedure.id}}">
            {{ procedure.name}}
        </option>
        {% endfor %}
    </select>
        <textarea class="full" name="description" placeholder="توضیحات"></textarea>
        <div class="buttons full">
        <button type="submit"> ثبت بیمار</button>
        <a href="/dashboard" class="back-btn">بازگشت</a>
        </div>
    </div>
</form>
</div>
</body>
</html>
