<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ثبت بیمار</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/form.css')}}">
</head>

<body>

<div class="container">
<h2>ثبت بیمار</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



<form method="POST">
    <div  class="form-grid">
    <input type="text" name="full_name" placeholder="نام و نام خانوادگی" required>

    <input type="text" name="national_code"  minlength="10" maxlength="10" ,
      pattern="[0-9]{10}" placeholder="کد ملی" required>

    <input type="text" name="phone" placeholder="شماره تماس">

    <input type="number" name="age" placeholder="سن">
    <div class="gender-group">
        <label>
            <input type="radio" name="gender" value="مذکر">
             مذکر
        </label>
        <label>
            <input type="radio" name="gender" value="مونث">
            مونث
        </label>
    </div>
    <select name="insurance_id" required>
        {% for insurance in insurances %}
        <option value="{{insurance.id}}">
            {{ insurance.name}}
        </option>
        {% endfor %}
    </select>
<div class="card">

    <label><strong>خدمات</strong></label>

    <div id="procedures">

        <div class="procedure-row">

            <select name="procedure_ids" required>

                <option value="">انتخاب خدمت</option>

                {% for procedure in procedures %}
                <option value="{{ procedure.id }}">
                    {{ procedure.name }}
                </option>
                {% endfor %}

            </select>

        </div>

    </div>

    <br>

    <button
        type="button"
        id="add-procedure"
        class="btn btn-primary">

        + افزودن خدمت

    </button>

</div>


        <textarea class="full" name="description" placeholder="توضیحات"></textarea>
        <div class="buttons full">
        <button type="submit"> ثبت بیمار</button>
        <a href="/dashboard" class="back-btn">بازگشت</a>
        </div>
    </div>
</form>
</div>
<div class="card">

    <label><strong>خدمات</strong></label>

    <div id="procedures">

        <div class="procedure-row">

            <select name="procedure_ids" required>

                <option value="">انتخاب خدمت</option>

                {% for procedure in procedures %}
                <option value="{{ procedure.id }}">
                    {{ procedure.name }}
                </option>
                {% endfor %}

            </select>

        </div>

    </div>

    <br>

    <button
        type="button"
        id="add-procedure"
        class="btn btn-primary">

        + افزودن خدمت

    </button>

</div>

<script>

document.getElementById("add-procedure").addEventListener("click", function(){

    const container = document.getElementById("procedures");

    const row = document.createElement("div");

    row.className = "procedure-row";

    row.style.marginTop = "10px";

    row.innerHTML = `
        <select name="procedure_ids" required>

            <option value="">انتخاب خدمت</option>

            {% for procedure in procedures %}
            <option value="{{ procedure.id }}">
                {{ procedure.name }}
            </option>
            {% endfor %}

        </select>

        <button
            type="button"
            class="btn btn-danger remove-procedure">

            حذف

        </button>
    `;

    container.appendChild(row);

});

document.addEventListener("click", function(e){

    if(e.target.classList.contains("remove-procedure")){

        e.target.parentElement.remove();

    }

});

</script>
</body>
</html>
