IntegrityError
sqlalchemy.exc.IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: patient.insurance_id
[SQL: INSERT INTO patient (full_name, national_code, phone, age, gender, description, total_price, paid_price, insurance_id, procedure_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ('hih', '08373704274587686558448', '69699', '44', 'gh', 'hf', 0, 0, None, None)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Traceback (most recent call last)
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 1969, in _exec_single_context
self.dialect.do_execute(
^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\default.py", line 952, in do_execute
cursor.execute(statement, parameters)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
The above exception was the direct cause of the following exception:
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\flask\app.py", line 1536, in __call__
return self.wsgi_app(environ, start_response)
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\flask\app.py", line 1514, in wsgi_app
response = self.handle_exception(e)
           ^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\flask\app.py", line 1511, in wsgi_app
response = self.full_dispatch_request()
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\flask\app.py", line 919, in full_dispatch_request
rv = self.handle_user_exception(e)
     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\flask\app.py", line 917, in full_dispatch_request
rv = self.dispatch_request()
     ^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\flask\app.py", line 902, in dispatch_request
return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\darmangah\routes\routes.py", line 46, in add_patient
db.session.commit()
^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\scoping.py", line 596, in commit
return self._proxied.commit()
       ^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\session.py", line 2035, in commit
trans.commit(_to_root=True)
^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "<string>", line 2, in commit
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\state_changes.py", line 137, in _go
ret_value = fn(self, *arg, **kw)
            ^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\session.py", line 1316, in commit
self._prepare_impl()
^^^^^^^^^^^^^^^^^^^^
File "<string>", line 2, in _prepare_impl
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\state_changes.py", line 137, in _go
ret_value = fn(self, *arg, **kw)
            ^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\session.py", line 1290, in _prepare_impl
self.session.flush()
^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\session.py", line 4353, in flush
self._flush(objects)
^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\session.py", line 4488, in _flush
with util.safe_reraise():
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 122, in __exit__
raise exc_value.with_traceback(exc_tb)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\session.py", line 4449, in _flush
flush_context.execute()
^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\unitofwork.py", line 465, in execute
rec.execute(self)
^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\unitofwork.py", line 641, in execute
util.preloaded.orm_persistence.save_obj(
^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\persistence.py", line 94, in save_obj
_emit_insert_statements(
^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\orm\persistence.py", line 1234, in _emit_insert_statements
result = connection.execute(
         
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 1421, in execute
return meth(
       
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\sql\elements.py", line 526, in _execute_on_connection
return connection._execute_clauseelement(
       
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 1643, in _execute_clauseelement
ret = self._execute_context(
      
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 1848, in _execute_context
return self._exec_single_context(
       
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 1988, in _exec_single_context
self._handle_dbapi_exception(
^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 2365, in _handle_dbapi_exception
raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\base.py", line 1969, in _exec_single_context
self.dialect.do_execute(
^
File "D:\python cache mohammadhosein zadeh\.venv\Lib\site-packages\sqlalchemy\engine\default.py", line 952, in do_execute
cursor.execute(statement, parameters)
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
sqlalchemy.exc.IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: patient.insurance_id
[SQL: INSERT INTO patient (full_name, national_code, phone, age, gender, description, total_price, paid_price, insurance_id, procedure_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ('hih', '08373704274587686558448', '69699', '44', 'gh', 'hf', 0, 0, None, None)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
The debugger caught an exception in your WSGI application. You can now look at the traceback which led to the error.
To switch between the interactive traceback and the plaintext one, you can click on the "Traceback" headline. From the text traceback you can also create a paste of it. For code execution mouse-over the frame you want to debug and click on the console icon on the right side.

You can execute arbitrary Python code in the stack frames and there are some extra helpers available for introspection:

dump() shows all variables in the frame
dump(obj) dumps all that's known about the object
