<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="UTF-8">
    <title>داشبورد درمانگاه</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>
<body>

<div class="container">

    <aside class="sidebar">

        <div class="logo">
            <h2>🏥 درمانگاه</h2>
            <p>شهید محمد جعفر نصر اصفهانی</p>
        </div>

        <a href="/dashboard">🏠 داشبورد</a>
        <a href="/add-patient">👤 ثبت بیمار</a>
        <a href="/insurance">🛡 بیمه ها</a>
        <a href="/procedure">🩺 خدمات</a>
        <a href="/tariff">💰 تعرفه ها</a>
        <a href="{{url_for('main_up.backup')}}">بکاپ</a>
        <div class="sidebar-footer">
            <div class="date-box">
                <span id="date">

                </span>
            </div>
                <div class="time-box">
                    <span id="clock">

                    </span>

                </div>

            
        </div>
    </aside>

    <main class="content">

        <div class="header">
            <h1>داشبورد درمانگاه</h1>
            <p>نمای کلی سیستم</p>
        </div>

        <div class="cards">
            <div class="card">
                <h3>{{ patient_count }}</h3>
                <span>تعداد بیماران</span>
            </div>
            <div class="card">
                <h3>{{ insurance_count}}</h3>
                <span> تعداد بیمه ها </span>
            </div>
            <div class="card">
                <h3>{{procedure_count}}</h3>
                <span> تعداد خدمات </span>
            </div>
            <div class="card">
                <h3>{{ "{:,}".format(total_income) }}</h3>
                <span>درآمد </span>
            </div>
            <div class="card">
                <h3>{{ "{:,}".format(received) }}</h3>
                <span>دریافتی</span>
            </div>
            <div class="card">
                <h3>{{ "{:,}".format(remaining) }}</h3>
                <span>باقیمانده</span>
            </div>
        </div>

        <form method="GET" class="search">
            <input type="text"
                   name="search"
                   placeholder="جستجو بر اساس نام، کد ملی یا تلفن">

            <button>جستجو</button>
        </form>

        <table>

            <tr>

                <th>نام</th>
                <th>کدملی</th>
                <th>تلفن</th>
                <th>سن</th>
                <th>جنسیت</th>
                <th> تاریخ ثبت</th>
                <th>هزینه</th>
                <th>پرداختی</th>
                <th>مانده</th>
                <th>عملیات</th>

            </tr>

            {% for patient in patients %}

            <tr>

                <td>{{patient.full_name}}</td>
                <td>{{patient.national_code}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.gender}}</td>
                <td>{{ patient.created_at|jalali}}</td>
                <td>{{ "{:,}".format(patient.total_price) }}</td>
                <td>{{ "{:,}".format(patient.paid_price) }}</td>
                <td>{{ "{:,}".format(patient.total_price-patient.paid_price) }}</td>

                <td>

                    <a href="/edit-patient/{{patient.id}}">✏</a>

                    <a href="/payment/{{patient.id}}">💳</a>

                    <a href="/delete-patient/{{patient.id}}">🗑</a>

                </td>

            </tr>

            {% endfor %}

        </table>

    </main>

</div>
<script src="{{ url_for('static' , filename='js/dashboard.js')}}"></script>
</body>
</html>
