
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>داشبورد</title>
</head>
<body>

<h2>لیست بیماران</h2>


<a href="/add-patient">ثبت بیمار جدید</a>
<form method="GET" action="/dashboard">
<input type="text" name="search" placeholder="نام و نشان  ، کد ملی یا شماره تلفن" >
<button type="submit"> جستجو</button>

</form>
<br><br>

<table border="1">

<tr>
    <th>نام</th>
    <th>کد ملی</th>
    <th>تلفن</th>
    <th>سن</th>
    <th>جنسیت</th>
    <th>هزینه کل</th>
    <th>پرداختی</th>
    <th>مانده</th>
    <th></th>
    <th></th>


</tr>

{% for patient in patients %}

<tr>

<td>{{ patient.full_name }}</td>
<td>{{ patient.national_code }}</td>
<td>{{ patient.phone }}</td>
<td>{{ patient.age }}</td>
<td>{{ patient.gender }}</td>
<td>{{ patient.total_price }}</td>
<td>{{ patient.paid_price }}</td>
<td>{{ patient.total_price - patient.paid_price }}</td>
<td><a href="/delete-patient/{{ patient.id }}"> حذف</a></td>
<td><a href="/edit-patient/{{ patient.id }}">ویرایش</a></td>



</tr>

{% endfor %}

</table>

</body>
</html>


