<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ویرایش بیمه</title>
</head>
<body>

    <h2>ویرایش بیمه</h2>

    <form method="POST">

        <label>نام بیمه</label>
        <input
            type="text"
            name="name"
            value="{{ insurance.name }}"
            required
        >

        <button type="submit">ذخیره تغییرات</button>

    </form>

    <br>

    <a href="{{ url_for('main_up.insurance') }}">
        بازگشت
    </a>

</body>
</html>
