<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>خدمات </title>
</head>
<body>

<h2>ثبت خدمت</h2>

<form method="POST">
    <input type="text" name="name" placeholder= " ویزیت">
    <input type="text" name="name" placeholder=" تزریقات عضلانی">
    <input type="text" name="name" placeholder="نوار قلب ">
    <input type="text" name="name" placeholder="سرم تراپی ">
    <button type="submit">ثبت</button>
</form>
{% for procedure in procedures %}
<tr>
    <td>{{ procedure.name }}</td>

    <td>
                <a href="{{ url_for('main_up.edit_procedure', id=procedure.id) }}">
                    ویرایش
                </a>
            </td>
            <td>
                <a href="{{ url_for('main_up.delete_procedure', id=procedure.id) }}"
                   onclick="return confirm('از حذف این خدمت مطمئن هستید؟')">
                    حذف
                </a>
            </td>
</tr>
<hr>


{% endfor %}

<a href="/dashboard">بازگشت به داشبورد</a>
</body>
</html>