<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>تعرفه‌ها</title>
</head>
<body>

<h2>ثبت تعرفه</h2>

<form method="POST">

    <label>بیمه</label>
    <select name="insurance_id" required>
        {% for insurance in insurances %}
        <option value="{{ insurance.id }}">
            {{ insurance.name }}
        </option>
        {% endfor %}
    </select>

    <br><br>

    <label>خدمت</label>
    <select name="procedure_id" required>
        {% for procedure in procedures %}
        <option value="{{ procedure.id }}">
            {{ procedure.name }}
        </option>
        {% endfor %}
    </select>

    <br><br>

    <label>قیمت</label>
    <input type="number" name="price" required>

    <br><br>

    <button type="submit">ثبت تعرفه</button>

</form>

<hr>

<h3>تعرفه‌های ثبت‌شده</h3>

<table border="1">
    <tr>
        <th>بیمه</th>
        <th>خدمت</th>
        <th>قیمت</th>
        <th> عملیات</th>
    </tr>

    {% for tariff in tariffs %}
    <tr>
<td>{{ tariff.insurance.name }}</td>
<td>{{ tariff.procedure.name }}</td>
<td>{{ tariff.price }}</td>

<td>
    <a href="{{ url_for('main_up.edit_tariff', id=tariff.id) }}">
        ویرایش
    </a>
</td>
<td>
    <a href="{{ url_for('main_up.delete_tariff', id=tariff.id) }}">
        حذف
    </a>
</td>

    </tr>
    {% endfor %}
</table>

<a href="/dashboard">بازگشت به داشبورد</a>
</body>
</html>